@model DDACTP034150.Models.Cargo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cargo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CargoWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoWidth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoWidth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoLength)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoHeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoHeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CargoDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CargoDetail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.First_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.First_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Warehouse.WarehouseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Warehouse.WarehouseName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CargoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
