@model IEnumerable<DDACTP034150.Models.Cargo>

@{
    ViewBag.Title = "Index";
}

<h2>Cargo</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CargoWeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargoWidth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargoLength)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargoHeight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargoName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CargoDetail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.First_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Warehouse.WarehouseName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CargoWeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargoWidth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargoLength)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargoHeight)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargoName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CargoDetail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.First_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Warehouse.WarehouseName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CargoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CargoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CargoId })
        </td>
    </tr>
}

</table>
